:root {
    --main-color: #007bff;
    --text-color: #ffffff;
    --back-color: #101010;
  }
  
* {
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--back-color);
    margin: 0rem;
    overflow: hidden;  
    font-family: "Montserrat", sans-serif;
    /* cursor: url('../img/cursor.png'), auto; */
}
  
h1, h2, h3, p {
    margin: 0rem;
}
